<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="nav">
    <div id="login">
      <a href="/users/login">登陆</a> | <a href="/users/regist">注册</a>
    </div>
  </div>
    <p>welcome <%= uname?uname:'游客' %></p>
    <!--<h1></h1>-->
    <!--<p>Welcome to </p>-->
  </body>
</html>
