<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/users/xx" method="post">
    <p>
        用 户 名: <input type="text" name="username" id="name"/><span></span>
    </p>
    <p>
        密&nbsp;&nbsp;码: <input type="password" name="qwe"/>
    </p>
    <p>
        确认密码: <input type="password" name="qwe"/>
    </p>
    <p>
        <input type="submit" value="注册"/>
    </p>
</form>
<script src="/javascripts/jquery-1.12.4.js"></script>
<script>
    $(function(){
        $("#name").on("blur",function(){
            var that = this;
            $.get("/users/checkname",{uname :this.value},function(data){
                if(data=="success"){
                    $(that).siblings('span').text('此用户名尚未被使用，可以使用')
//                    $("<span>正确</span>").insertAfter(that);
                }else if(data=="fail"){
//                    $("<span>错误</span>").insertAfter(that);
                    $(that).siblings('span').text('此用户名已被注册，请重新输入')
                }
            },"text")
        })
    })


</script>
</body>
</html>